# Predict Future Sales Competition

## Description
This challenge serves as final project for the "How to win a data science competition" Coursera course.

In this competition you will work with a challenging time-series dataset consisting of daily sales data, kindly provided by one of the largest Russian software firms - 1C Company. 

We are asking you to predict total sales for every product and store in the next month. By solving this competition you will be able to apply and enhance your data science skills.

Competition Information found at [Kaggle](https://www.kaggle.com/c/competitive-data-science-predict-future-sales)

In [94]:
# Importing Libraries and allowing plots to appear in Jupyter

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

## File Descriptions

* **sales_train.csv** - the training set. Daily historical data from January 2013 to October 2015.
* **test.csv** - the test set. You need to forecast the sales for these shops and products for November 2015.
* **sample_submission.csv** - a sample submission file in the correct format.
* **items.csv** - supplemental information about the items/products.
* **item_categories.csv**  - supplemental information about the items categories.
* **shops.csv** - supplemental information about the shops.

## Data Fields
* **ID** - an Id that represents a (Shop, Item) tuple within the test set
* **shop_id** - unique identifier of a shop
* **item_id** - unique identifier of a product
* **item_category_id** - unique identifier of item category
* **item_cnt_day** - number of products sold. You are predicting a monthly amount of this measure
* **item_price** - current price of an item
* **date** - date in format dd/mm/yyyy
* **date_block_num** - a consecutive month number, used for convenience. January 2013 is 0, February 2013 is 1,..., October 2015 is 33
* **item_name** - name of item
* **shop_name** - name of shop
* **item_category_name** - name of item category

In [90]:
# import datasets 

sales = pd.read_csv('data/sales_train.csv')
items = pd.read_csv('data/items.csv')
categories = pd.read_csv('data/item_categories.csv')
shops = pd.read_csv('data/shops.csv')

In [95]:
sales.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [96]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 6 columns):
date              object
date_block_num    int64
shop_id           int64
item_id           int64
item_price        float64
item_cnt_day      float64
dtypes: float64(2), int64(3), object(1)
memory usage: 134.4+ MB

In [54]:
items.head()

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

In [55]:
categories.head()

        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2
3         Аксессуары - PS4                 3
4         Аксессуары - PSP                 4

In [56]:
shops.head()

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4

In [52]:
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22170 entries, 0 to 22169
Data columns (total 3 columns):
item_name           22170 non-null object
item_id             22170 non-null int64
item_category_id    22170 non-null int64
dtypes: int64(2), object(1)
memory usage: 519.7+ KB

In [53]:
shops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
shop_name    60 non-null object
shop_id      60 non-null int64
dtypes: int64(1), object(1)
memory usage: 1.0+ KB

In [64]:
''' 
Join all tables together to make master table with all info
Start with transactional table (sales) and bring in reference tables
(data is in star schema)

'''
master = sales.merge(
    items, 
    how = 'left', 
    on = 'item_id').merge(
        categories, 
        how = 'left', 
        on = 'item_category_id').merge(
            shops, 
            how = 'left', 
            on = 'shop_id')
master.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_name,item_category_id,item_category_name,shop_name
0,02.01.2013,0,59,22154,999.00,1.0,ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray,"Ярославль ТЦ ""Альтаир"""
1,03.01.2013,0,25,2552,899.00,1.0,DEEP PURPLE The House Of Blue Light LP,58,Музыка - Винил,"Москва ТРК ""Атриум"""
2,05.01.2013,0,25,2552,899.00,-1.0,DEEP PURPLE The House Of Blue Light LP,58,Музыка - Винил,"Москва ТРК ""Атриум"""
3,06.01.2013,0,25,2554,1709.05,1.0,DEEP PURPLE Who Do You Think We Are LP,58,Музыка - Винил,"Москва ТРК ""Атриум"""
4,15.01.2013,0,25,2555,1099.00,1.0,DEEP PURPLE 30 Very Best Of 2CD (Фирм.),56,Музыка - CD фирменного производства,"Москва ТРК ""Атриум"""

In [66]:
'''
Cell to check if there are any null values
There are no null values so no fixing to worry about
'''
master.isnull().any().any()

False

In [69]:
# getting rid of redundant columns
master = master[['shop_name', 
                 'item_category_name', 
                 'item_name', 
                 'item_price', 
                 'item_cnt_day', 
                 'date', 
                 'date_block_num']]
master.head()

,shop_name,item_category_name,item_name,item_price,item_cnt_day,date,date_block_num
0,"Ярославль ТЦ ""Альтаир""",Кино - Blu-Ray,ЯВЛЕНИЕ 2012 (BD),999.00,1.0,02.01.2013,0
1,"Москва ТРК ""Атриум""",Музыка - Винил,DEEP PURPLE The House Of Blue Light LP,899.00,1.0,03.01.2013,0
2,"Москва ТРК ""Атриум""",Музыка - Винил,DEEP PURPLE The House Of Blue Light LP,899.00,-1.0,05.01.2013,0
3,"Москва ТРК ""Атриум""",Музыка - Винил,DEEP PURPLE Who Do You Think We Are LP,1709.05,1.0,06.01.2013,0
4,"Москва ТРК ""Атриум""",Музыка - CD фирменного производства,DEEP PURPLE 30 Very Best Of 2CD (Фирм.),1099.00,1.0,15.01.2013,0

In [103]:
# filtering the master dataset to only include items which had negative sales 
negative = master[['shop_name', 'item_category_name', 'item_cnt_day', 'item_name']]
negative = negative[negative['item_cnt_day'] < 0]
#negative[negative['item_cnt_day'] < -1].groupby(['shop_name', 'item_category_name']).sum()#, 'item_name']).sum()
negative.groupby('item_name').sum().sort_values('item_cnt_day')

                                                    item_cnt_day
item_name
Call of Duty: Ghosts [PS4, русская версия]                 -60.0
Grand Theft Auto V [Xbox 360, русские субтитры]            -45.0
Grand Theft Auto V [PS3, русские субтитры]                 -34.0
Bestseller. S.T.A.L.K.E.R. [PC, Jewel]                     -33.0
PS4: Контроллер игровой беспроводной черный (Du...         -31.0
Одни из нас [PS3, русская версия]                          -28.0
LEGO Batman 2: DC Super Heroes [PС, Jewel, русс...         -27.0
Kinect Star Wars [только для Kinect] [Xbox 360]            -27.0
Sony PlayStation 4 (500 Gb) Black (CUH-1008A/11...         -26.0
PS3: Гарнитура беспроводная для PS3 (с поддержк...         -25.0
Just Dance 2015 (только для PS Move) [PS3, русс...         -24.0
Kinect Rush [только для Kinect] [Xbox 360]                 -24.0
Minecraft [Xbox 360, английская версия]                    -23.0
ZL004 Лазерные наклейки Смайлики маленькие                 -22.0
Sims 3: Набор для новичков [PC, русская версия]            -22.0
Assassin's Creed: Единство. Специальное издание...         -21.0
Последняя воля Шерлока Холмса [PC, Jewel, русск...         -20.0
FIFA 14 (с поддержкой PS Move) [PS3, русская ве...         -20.0
X360: Super ZOOM [только для Kinect]                       -20.0
Need for Speed Most Wanted (Classics) (рус.в.) ...         -19.0
Grand Theft Auto V [PS4, русские субтитры]                 -18.0
Микроробот колесный Трекбот                                -18.0
Фирменный пакет майка 1С Интерес белый (34*42) ...         -18.0
Grand Theft Auto IV. Полное издание [PC, Jewel,...         -17.0
Batman: Аркхем Сити (с поддержкой 3D) [PC, Jewe...         -17.0
Battlefield 4 [Xbox 360, русская версия]                   -17.0
Kinect Sports Ultimate (только для MS Kinect) [...         -17.0
Forza Motorsport 4 [Xbox 360]                              -17.0
EA SPORTS MMA [PS3]                                        -16.0
PS4: Комплект 4gamers Gaming Headset Starter Ki...         -16.0
...                                                          ...
Бейсболка Watch Dogs Aidens Basecap                         -1.0
Библиотека приключений  Хаггард Генри, Лондон Д...          -1.0
Билет "ИгроМир 2014" - семейный до 4-х человек ...          -1.0
Билет "ИгроМир 2015" - 3 октября 2015 [Цифровая...          -1.0
Билет "ИгроМир 2015" - 4 октября 2015 УПР [Цифр...          -1.0
Бойцовый робот для поединков                                -1.0
Болтун Мангуст                                              -1.0
Бейсболка Minecraft Diamond Crafting Premium Sn...          -1.0
БРЕМЕНСКИЕ МУЗЫКАНТЫ  м/ф (Регион) (Лизард)                 -1.0
БРАТВА ИЗ ДЖУНГЛЕЙ                                          -1.0
БРАВО  30 лет  Концерт в Stadium Live  2CD (фирм.)          -1.0
БЕН 10. ИНОПЛАНЕТНАЯ СИЛА ВЫП.8 ПОСЛЕДНИЙ БОЙ               -1.0
БЕРЕГИСЬ АВТОМОБИЛЯ (регион)                                -1.0
БЕРСЕРК: Берсерк Буря стихий арт. 1136                      -1.0
БИ-2  #16 плюс  2CD (фирм.)                                 -1.0
БИ-2  Prague Metropolitan Symphonic Orchestra 1...          -1.0
БИ-2  Spirit  2CD                                           -1.0
БИЛАН ДИМА  Дотянись                                        -1.0
БЛИНДАЖ (регион)                                            -1.0
БОЕВОЙ КОНЬ (BD)                                            -1.0
БОИ БЕЗ ПРАВИЛ                                              -1.0
БОЙ С ТЕНЬЮ 3D: ПОСЛЕДНИЙ РАУНД (3D BD)                     -1.0
БОЙФРЕНД ИЗ БУДУЩЕГО                                        -1.0
БОЛЬШАЯ КОЛЛЕКЦИЯ ФИЛЬМОВ. БОЕВИКИ                          -1.0
БОЛЬШАЯ СВАДЬБА                                             -1.0
БОЛЬШИЕ ДЕНЬГИ э. (BD)                                      -1.0
БОЛЬШИЕ НАДЕЖДЫ (BD)                                        -1.0
БОЛЬШОЕ ПУТЕШЕСТВИЕ В ГЛУБЬ ОКЕАНОВ (BD)                    -1.0
ГАГАРИН. ПЕРВЫЙ В КОСМОСЕ (BD)                              -1.0
Язык запросов 1С:Предприятия 8 (+CD). Хрусталев...          -1.0

[3511 rows x 1 columns]